* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: sans-serif;
    color: #000;
}

/* navbar styles */

nav#navbar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: solid black 1px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

h1 {
    margin-left: -10px;
}

#smiley-face {
    font-size: 40px;
}

#navbar ul {
    padding: 0px;
    line-height: 70px;
}

#navbar li {
    font-size: 18px;
    list-style-type: none;
    text-align: right;
    padding-right: 10px;
}

#navbar li:first-child {
    border-top: solid black 1px;
    padding-top: 10px;
}

#navbar span:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}

/* main section styles */

main {
    margin-left: 240px;
}

#gators-block, #games-block {
    display: none;
}

/* blockquote styles */

#bio-blockquote {
    background: #cff1fc;
    color: #2374f7;
    text-align: center;
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 0px 50px;
}

#bio-blockquote h5 {
    margin-top: -8px;
    color: #1d4585;
}

#bio-blockquote .quote {
    font-style: italic;
}

#bio-list {
    padding-left: 20px;
}

#bio-list li {
    margin-top: 20px;
    line-heighT: 25px;
}

#gators-blockquote {
    background: #b7e8c4;
    color: #19a63e;
    text-align: center;
    width: 650px;
    height: 100px;
    padding: 10px;
    border-radius: 0px 50px;
}

#gators-blockquote h5 {
    margin-top: -8px;
    color: #154a23;
}

/* gallery styles */

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-top: 15px;
}

#gallery img {
    width: 50%;
    height: 280px;
    object-fit: cover;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 10px;
  }

/* game styles */

#games-blockquote {
    background: #f8e3fa;
    /* color: #d732e6; */
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 0px 50px;
    display: flex;
    align-items: center;
}

#games-nav {
    border-right: solid 1px black;
    width: 50%;
    height: 100px;
}

#games-nav ul {
    list-style: none;
    font-size: 1.17em;
    font-weight: bold;
    color: #d732e6;
    text-align: right;
    padding-right: 25px;
    padding-top: 3px;
}

#games-nav li {
    margin-bottom: 15px;
}

#games-nav li:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

#default-rules {
    width: 50%;
    padding: 30px;
    line-height: 25px;
    color: #6e2375;
}

#default-rules p {
    text-align: center;
}

#catch-rules {
    display: none;
    width: 60%;
    padding-left: 25px;
}

#catch-rules h3 {
    color: #6e2375;
}

#catch-rules p {
    margin-top: -10px;
}

#quest-rules {
    display: none;
    width: 60%;
    padding-left: 25px;
}

#quest-rules h3 {
    color: #6e2375;
}

#quest-rules p {
    margin-top: -10px;
}

/* catch styles */

#catch-board {
    width: 500px;
    height: 500px;
    position: relative;
    display: none;
}

#catch-board img {
    margin-left: 20px;
    width: 250px;
    height: 250px;
    object-fit: contain;
    position: absolute;
  }

#gator-1 {
    display: initial;
    left: 0px;
    top: 0px;
}

#gator-2 {
    display: none;
    left: 250px;
    top: 0px;
}

#gator-3 {
    display: none;
    left: 0px;
    bottom: 0px;
}

#gator-3:hover {
    cursor: pointer;
}

#gator-4 {
    display: none;
    left: 250px;
    bottom: 0px;
}

/* quest styles */

#quest-board {
    background-color: #b8dbff;
    width: 500px;
    height: 500px;
    position: relative;
    display: none;
    margin-top: 20px;
}

#quest-piece {
    width: 100px;
    height: 70.94px;
    background-image: url(images/quest_alligator.png);
    background-size: contain;
}