* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: sans-serif;
    color: #000;
}

/* navbar styles */

nav#navbar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: solid black 1px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

h1 {
    margin-left: -10px;
}

#smiley-face {
    font-size: 40px;
}

#navbar ul {
    padding: 0px;
    line-height: 70px;
}

#navbar li {
    font-size: 18px;
    list-style-type: none;
    text-align: right;
    padding-right: 10px;
}

#navbar li:first-child {
    border-top: solid black 1px;
    padding-top: 10px;
}

#navbar span:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 40px;
}

/* main section styles */

main {
    margin-left: 240px;
}

#gators-block, #games-block {
    display: none;
}

/* blockquote styles */

.blockquote {
    background: #cff1fc;
    color: #2374f7;
    text-align: center;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin-left: 0px;
    border-radius: 0px 50px;
}

.blockquote h5 {
    margin-top: -8px;
    color: #1d4585;
}

.blockquote .quote {
    font-style: italic;
}

#bio-list {
    padding-left: 20px;
}

#bio-list li {
    margin-top: 20px;
    line-heighT: 25px;
}